#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.pet{
    border:1px solid #828282;
    border-radius: 1rem;
    padding:1rem;
    margin-top: 1rem;
}
